<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Esya - Comedy Night</title>
        <meta name="description" content="Flash Sale Portal for comedy night of Esya'15">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="favicon.ico" rel="shortcut icon" />
        <%= stylesheet_link_tag 'application', media: 'all' %>
        <%= javascript_include_tag 'application' %>
        <%= csrf_meta_tags %>
        <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

    </head>
    <body>
      <!-- first section - Home -->
      <div id="home" class="home">
        <div class="text-vcenter1">
            <%= link_to user_omniauth_authorize_path(:google_oauth2) do %>
              <div class="registerbox">
                <h1>CLICK HERE<br>TO BOOK<br>YOUR TICKETS</h1>
              </div>
            <% end %>
        </div>
      </div>
      <!-- /first section -->
      <!-- first section - Mobile Home -->
      <div id="rhome" class="rhome">
        <div class="text-vcenter1 text-center">
            <%= link_to user_omniauth_authorize_path(:google_oauth2) do %>
              <%= image_tag "Logo.png", class: "img img-responsive" %>
              <div class="registerbox">
                <h3>Esya'15 Comedy Night - 21st August 2015 7:00PM</h3>
                <h1>CLICK HERE<br>TO BOOK<br>YOUR TICKETS</h1>
              </div>
            <% end %>
        </div>
      </div>
      <!-- /first section -->

    </body>
</html>
