<%= simple_form_for(@ticket) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :sale %>
    <%= f.association :user %>
    <%= f.input :paid %>
    <%= f.input :blocked %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
