<p id="notice"><%= notice %></p>

<h1>Listing Tickets</h1>

<table>
  <thead>
    <tr>
      <th>Sale</th>
      <th>User</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.sale %></td>
        <td><%= ticket.user %></td>
        <td><%= ticket.status %></td>
        <td><%= link_to 'Paid', paid_path(ticket) %></td>
        <td><%= link_to 'Blocked', Blocked_path(ticket) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

