<p id="notice"><%= notice %></p>

<h1>Listing Tickets</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Sale</th>
      <th>User</th>
      <th>Status</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.sale %></td>
        <td><%=link_to ticket.user , ticket.user%></td>
        <td><%= ticket.status %></td>
        <td><%= link_to 'Paid', paid_path(ticket), :class => "btn btn-sm btn-primary" unless ticket.paid %></td>
        <td><%= link_to 'Blocked', blocked_path(ticket), :class => "btn btn-sm btn-primary" unless ticket.blocked %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

