<%= simple_form_for(@sale) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :start, :as => :datetime_picker %>
    <%= f.input :end , :as => :datetime_picker%>
    <%= f.input :quantity %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

<script type="text/javascript">
    $('.datetimepicker').datetimepicker();
</script>