<p id="notice"><%= notice %></p>

<h1>Listing Sales</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Start</th>
      <th>End</th>
      <th>Ticket quantity</th>
      <th>Created By</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sales.each do |sale| %>
      <tr>
        <td><%= sale.start.to_s(:short) %></td>
        <td><%= sale.end.to_s(:short) %></td>
        <td><%= sale.quantity %></td>
        <td><%= sale.user %></td>
        <td><%= link_to 'Edit', edit_sale_path(sale) , :class => "btn btn-sm btn-warning"%></td>
        <td><%= link_to 'Destroy', sale, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-sm btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div class="center">
<%= link_to 'New Sale', new_sale_path, :class => "btn btn-lg btn-success" %>
</div>