<p id="notice"><%= notice %></p>

<p>
  <strong>Start:</strong>
  <%= @sale.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @sale.end %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @sale.quantity %>
</p>

<p>
  <strong>User:</strong>
  <%= @sale.user %>
</p>

<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>
